# CODEOWNERS for facebook/ThreatExchange

# The codeowners for any given part of code will be automatically notified of pull requests that modify that part of the
# codebase. For more information on the syntax and use of CODEOWNERS files, please use GitHub's documentation at
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# default owners for everything within the repo

* @Dcallies @BarrettOlson @schatten
/python-threatexchange/ @Dcallies
/hasher-matcher-actioner/ @schatten
