*.swp
*.pyc
*.egg-info/
CLAUDE.md
pytx/build
pytx/dist
pytx/docs/_build
python-threatexchange/build/
python-threatexchange/dist/
.DS_Store
.claude/
.tox/
.coverage
.pytx
pdq/java/bazel-bin/
pdq/java/bazel-genfiles/
pdq/java/bazel-java/
pdq/java/bazel-out/
pdq/java/bazel-testlogs/
.mypy_cache/
.vscode/
*.d.ts
.idea/
venv/
.venv/
