*.swp
*.pyc
pytx/build
pytx/dist
pytx/pytx.egg-info
pytx/docs/_build
.DS_Store
.tox/
.coverage
.pytx
hashing/pdq/java/bazel-bin/
hashing/pdq/java/bazel-genfiles/
hashing/pdq/java/bazel-java/
hashing/pdq/java/bazel-out/
hashing/pdq/java/bazel-testlogs/
