#
# Copyright (c) Meta Platforms, Inc. and affiliates.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree. An additional grant
# of patent rights can be found in the PATENTS file in the same directory.
#
#
# Use query files to bulk search the ThreatExchange API.
#
# Formatting rules:
# - one query string per line
# - blank lines are OK
# - use '#' at the start of a line to indicate a comment
#

# Example query strings (should return results for all search types)
blackbox
reger
tofsee
