#
# Copyright (c) Meta Platforms, Inc. and affiliates.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree. An additional grant
# of patent rights can be found in the PATENTS file in the same directory.
#
#
# Use CSV formatted files to bulk upload to the ThreatExchange API.
#
# Formatting rules:
# - one entry per line
# - blank lines are OK
# - use '#' at the start of a line to indicate a comment
# - the first row of data *must* be the header row
# - header row column names must be the field names defined in the API docs

# Example header row and indicator
type,threat_type,indicator,status,description,share_level,privacy_type,privacy_members
DOMAIN,MALICIOUS_DOMAIN,evil-domain.biz,SUSPICIOUS,Testing bulk upload,AMBER,HAS_WHITELIST,<your-app-id>
DOMAIN,MALICIOUS_DOMAIN,evil-domain-2.biz,SUSPICIOUS,Testing bulk upload,AMBER,HAS_WHITELIST,<your-app-id>
