<div class="container my-3">
    {% include "components/banks_grid.html.j2" %}
</div>

<div class="container my-3">
    {% include "components/add_to_bank_form.html.j2" %}
</div>

<div class="container my-3">
    {% include "components/match_form.html.j2" %}
</div>