<div class="container">
    <div class="py-5 text-center">
        <h3>Matching and SignalType Debugger</h3>
        <p class="lead">Directly upload files and URLs to explore matching algorithms.</p>
    </div>
    <div class="row justify-content-center gx-5">
        <div class="col-6">
            {% include "components/match_dbg_upload.html.j2" %}
        </div>
        <div class="col-6">
            {% include "components/match_dbg_upload.html.j2" %}
        </div>
    </div>
    <div class="container my-2 text-center">
        <h4>Match Results:</h4>
        <ul>
            <li>Verdict: Match</li>
            <li>PDQ: 31</li>
            <li>md5: 0</li>
        </ul>
    </div>
</div>