<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Media Match</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
    <nav class="navbar bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Open Media Match</a>
        </div>
    </nav>

    {% if not production %}
    {% include "components/dev_mode_bar.html.j2" %}
    {% endif %}

    <div class="container my-3">
        {% include "components/content_signal.html.j2" %}
    </div>

    <div class="container my-4">
        <hr />
    </div>

    <div class="container my-3">
        {% include "components/banks_grid.html.j2" %}
    </div>

    <div class="container my-3">
        {% include "components/add_to_bank_form.html.j2" %}
    </div>

    <div class="container my-3">
        {% include "components/match_form.html.j2" %}
    </div>

    <div class="container my-4">
        <hr />
    </div>

    <div class="container my-3">
        {% include "components/index_status.html.j2" %}

    </div>

    <div class="container my-4">
        <hr />
    </div>

    <div class="container my-3">
        {% include "components/exchange_status.html.j2" %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/autoreload.js') }}"></script>
</body>

</html>