*.o
*.a
*.dSYM

*.jar
*.class

.swp
.swo
*.swp
*.swo

cpp/clusterize256
cpp/clusterize256x
cpp/hashtool256
cpp/mih-query
cpp/pdq-downsample-demo
cpp/pdq-photo-hasher
cpp/snowball-clusterize256
cpp/tags
cpp/test-bits
cpp/test-hamming
cpp/test-mih
