*.o
*.a
*.dSYM

.swp
.swo
.DS_Store
*.swp
*.swo

build/
cpp/libraries-dirs.txt
cpp/test
cpp/build
output-hashes/*
python/vpdq.cpp

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
