<h3> Banks </h3>
<div class="w-50 my-1">
    <form action="/ui/create_bank" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="bank_name" placeholder="Name" required>
            <button type="submit" class="btn btn-outline-success">Create New Bank</button>
        </div>
    </form>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for b in bankList %}
    <div class="col">
        <div class="card">
            <div class="card-header bg-info">
                <h5 class="my-0 fw-normal">{{b['name']}}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">We'll add stats here later.</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>