<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Signal Types</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3">
                    {% for s in signal %}
                    <li> {{ s['name'] }}: {{ s['enabled_ratio'] * 100 }}% Enabled </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Content Types</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3">
                    {% for c in content %}
                    <li> {{ c['name'] }}: {% if c['enabled'] %} Enabled {% else %} Disabled {% endif %} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Exchange Types</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3">
                    {% for name, c in exchange_apis.items() %}
                    <li> {{ name }} {% if c['has_auth'] %} (authed) {% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>