<div class="container my-3">
    <div class="alert alert-primary" role="alert">
        <div class="d-flex flex-row align-items-center">
            <div class="me-2">Running server in development mode!</div>
            <div class="me-2">
                <form action="/ui/factory_reset" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-danger">Factory Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>