<h3>Exchange Status</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">API Connection</th>
            <th scope="col">Bank Name</th>
            <th scope="col">Total Fetched</th>
            <th scope="col">Fetch Progress</th>
            <th scope="col">Last Fetch Status</th>
        </tr>
    </thead>
    <tbody id="index_table_body">
        {% for name, dat in collabs.items() %}
        <tr>
            <th scope="row">{{name}}</th>
            <td scope="row">{{dat['bank']}}</td>
            <td scope="row">?</td>
            <td class="align-middle">
                <div class="progress">
                    <div class="progress-bar {{dat['progress_style']}}" role="progressbar"
                        style="width: {{dat['progress_pct']}}%;" aria-valuenow="{{dat['progress_pct']}}"
                        aria-valuemin="0" aria-valuemax="100">
                        {{dat['progress_label']}}</div>
                </div>
            </td>
            <td scope="row">?</td>
        </tr>
        {% endfor %}
    </tbody>
</table>