<!doctype html>
<html>

<head>
  <title>HMA-Lite!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ThreatExchange HMA-Lite</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <h1>Hello, from the threatexchange API!</h1>
    </div>
    <div class="row">
      <div class="card">
        <form class="card-body" method="POST" action="{{url_for('check_for_match_image')}}" enctype="multipart/form-data">
          <h2> Check an Image?</h2>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="photo" name="photo">
            <label class="custom-file-label" for="phot0">Choose file</label>
          </div>
          <input type="submit" value="Upload" class="btn btn-primary" >
        </form>
      </div>
      <div class="card">
        <form class="card-body" method="POST" action="{{url_for('check_for_match_hash')}}" enctype="multipart/form-data">
          <h2> Check a PDQ Hash?</h2>
          <div class="col-sm">
            <input type="text" name="hash" class="form-control" placeholder="hash" aria-label="hash">
          </div>
          <div class="col-sm">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="card">
        <form class="card-body" method="POST" action="{{url_for('upload_hashes')}}" enctype="multipart/form-data">
          <h2>Provide more hashes:</h2>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="data_file" name="data_file">
            <label class="custom-file-label" for="data_file">Choose file</label>
          </div>
          <input type="submit" value="Upload" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
  {% for file in files %}
  <a href=/data/{{ file }} target="_blank" style="margin-right: 5px;"> {{file}} </a>
  {% endfor %}
</body>

</html>
