*.o
*.a
*.dSYM

*.jar
*.class

tag

.swp
.swo
*.swp
*.swo

pdq/cpp/clusterize256
pdq/cpp/clusterize256x
pdq/cpp/hashtool256
pdq/cpp/mih-query
pdq/cpp/pdq-downsample-demo
pdq/cpp/pdq-photo-hasher
pdq/cpp/snowball-clusterize256
pdq/cpp/tags
pdq/cpp/test-bits
pdq/cpp/test-hamming
pdq/cpp/test-mih
tmk/cpp/feat2tmk
tmk/cpp/featdump
tmk/cpp/regtest/
tmk/cpp/tmk-clusterize
tmk/cpp/tmk-compare-two-tmks
tmk/cpp/tmk-hash-video
tmk/cpp/tmk-query
tmk/cpp/tmk-show-pair-offsets
tmk/cpp/tmk-two-level-score
tmk/cpp/tmkdump
tmk/cpp/vstr2feat
