# Ignore directories that are not important for the docker builds. Every time
# you build a docker image, docker the CLI has to send all files in the current
# directory as context to the docker daemon. This is problematic on the build 
# server which is resource starved. Also, webapp/node_modules is a LOT of files.

webapp/
terraform/
tests/
scripts/
sample_data/
docs/
build/
dist/
.vscode/
.mypy_cache/
.pytest_cache/
__pycache__/
*/__pycache__/
*/*/__pycache__/