# Copyright (c) Meta Platforms, Inc. and affiliates.

import typing as t

from hmalib_extensions.action_performer_example import ActionPerformerExtensionExample
from hmalib.common.extensions.action_performers import ActionPerformerExtensionBase


CUSTOM_ACTION_PERFORMERS: t.Dict[str, t.Type[ActionPerformerExtensionBase]] = {
    ActionPerformerExtensionExample.get_name(): ActionPerformerExtensionExample
}
