# Copyright (c) Meta Platforms, Inc. and affiliates.

terraform {
    backend "s3" {
      bucket = # TERRAFORM_STATE_S3_BUCKET
      key = # TERRAFORM_STATE_KEY
      region = # TERRAFORM_BUCKET_REGION
      dynamodb_table = # TERRAFORM_STATE_LOCKING_TABLE
    }
}
