<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Open Media Match: Bank Names</title>
    </head>
    <body>
        <h3> Bank Names </h3>
        {% for b in bankList %}
            <tr>
                <td> <li> {{b['name']}} </li> </td>
            </tr>
        {% endfor %}
    </body>
</html>