<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Open Media Match</title>
    </head>
    <body>
        <h1>Open Media Match</h1>

        <p>Open Media Match is up and running.</p>
        
        {% if not production %}
        <p>Running in development mode</p>
        {% endif %}
    </body>
</html>