<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Open Media Match</title>
    </head>
    <body>
        <h1>Open Media Match</h1>
        <p>Open Media Match is up and running.</p>
        {% if not production %}
        <p>Running in development mode</p>
        {% endif %}
        <h3> Content Types </h3>
        {% for c in content %}
            <tr>
                <td> <li> {{c['name']}}: {% if c['enabled'] %} Enabled {% else %} Disabled {% endif %} </li> </td>
            </tr>
        {% endfor %}
        <h3> Signal Types </h3>
        {% for s in signal %}
            <tr>
                <td> <li> {{s['name']}}: {% if s['enabled'] %} Enabled {% else %} Disabled {% endif %} </li> </td>
            </tr>
        {% endfor %}
        <h3> Bank Names </h3>
        {% for b in bankList %}
            <tr>
                <td> <li> {{b['name']}} </li> </td>
            </tr>
        {% endfor %}

        <!-- Create Bank -->
        <h3> Create Bank: </h3>
        <form>
            <input />
        </form>


        <!-- Add Content to Bank -->
        <h3> Add Content to Bank: </h3>
        <form>
            <input />
        </form>

        <!-- Match File in Banks -->
        <h1>Match File</h1>
        <form action = "/ui/query" method = "post" enctype="multipart/form-data">  
            <input type="file" name="file" />  Content Type (*required) 
            <select id="media" name="media">
                {% for c in content %}
                    {% if c['enabled'] %} 
                    <option value="{{c['name']}}">{{c['name']}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type = "submit" value="Submit" style="margin-left: 34px;">  
        </form>  
        {% if fileresult %}
            <h2>File uploaded successfully: </h2>
            <p>File Name: {{name}}</p>
            {% if matches %}
                <h3> Matches Found: {{matches}} </h3>
            {% else %} <h3> No Matches Found <h3>
            {% endif %}
        {% endif %}
    </body>
</html>