<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createExchange">
    Create Exchange
</button>

<!-- Modal -->
<div class="modal fade" id="createExchange" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="exchange_create_form">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createExchangeLabel">Create Exchange</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exchange_create_form_api" class="form-label">API</label>
                        <select class="form-select" name="api" id="exchange_create_form_api" required>
                            <option selected disabled value="">Select API</option>
                            {% for name, c in exchange_apis.items() %}
                                <option>{{name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exchange_create_form_bank" class="form-label">New bank name</label>
                        <input type="text" class="form-control" name="bank" id="exchange_create_form_bank"
                            placeholder="BANK_NAME" required>
                    </div>
                    <div class="mb-3">
                        <label for="exchange_create_form_json" class="form-label">Type-specific JSON</label>
                        <textarea type="text" class="form-control" name="api_json" id="exchange_create_form_json" rows=5
                            placeholder="{}" onblur="validatePrettyFormJSON(this)"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function validatePrettyFormJSON(elem) {
        try {
            const obj = JSON.parse(elem.value || "{}");
            const pretty = JSON.stringify(obj, undefined, 4);
            elem.value = pretty;
            elem.classList.remove("is-invalid");
            elem.classList.add("is-valid");
        } catch (e) {
            elem.classList.remove("is-valid");
            elem.classList.add("is-invalid");
        }
    }

    document.getElementById("exchange_create_form").addEventListener("submit", async event => {
        event.preventDefault();
        const data = new FormData(event.target);
        const as_object = Object.fromEntries(data.entries());
        const reload = window.location
        if (!data.get("api_json")) {
            as_object["api_json"] = {}
        } else {
            as_object["api_json"] = JSON.parse(data.get("api_json"))
        }

        fetch(`/c/exchanges`, {
            method: 'POST',
            body: JSON.stringify(as_object),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        })
            .then(async response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    json = await response.json()
                    alert("Exchange create failed! " + response.statusText + " : " + (json['message'] ?? '<no message>)'))
                }
            });
    })
</script>