<table class="table">
    <thead>
        <tr>
            <th scope="col">Bank Name</th>
            <th scope="col">API</th>
            <th scope="col">Total Fetched</th>
            <th scope="col">Fetch Progress</th>
            <th scope="col">Last Fetch Status</th>
        </tr>
    </thead>
    <tbody id="index_table_body">
        {% for name, dat in collabs.items() %}
        <tr>
            <th scope="row">
                <div class="hstack gap-3">
                    <div>{{dat['bank']}}</div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                            onchange="onExchangeEnabledToggle('{{dat['bank']}}', this)" {%if dat['enabled']
                            %}checked{%endif%}>
                    </div>
                </div>
            </th>
            <td scope="row">{{dat['api']}}</td>
            <td scope="row">{{dat['count']}}</td>
            <td class="align-middle">
                <div class="progress">
                    <div class="progress-bar {{dat['progress_style']}}" role="progressbar"
                        style="width: {{dat['progress_pct']}}%;" aria-valuenow="{{dat['progress_pct']}}"
                        aria-valuemin="0" aria-valuemax="100">
                        {{dat['progress_label']}}
                    </div>
                </div>
            </td>
            <td scope="row">{{dat['last_run_text']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function onExchangeEnabledToggle(name, elem) {
        fetch(`/c/exchange/` + name, {
            method: 'PUT',
            body: JSON.stringify({ 'enabled': elem.checked }),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }).then(async (response) => {
            if (response.ok) {
                window.location.reload();
            } else {
                json = await response.json();
                alert("Failed to enable/disable!");
            }
        });
    }
</script>