{# Copyright (c) Meta Platforms, Inc. and affiliates. #}
<div class="card text-dark bg-light box-shadow h-md-250 h-100 mx-auto">
    <div class="row align-items-center m-3">
        <div class="vstack gap-2" id="{{ upload_id }}-img">
            <div class="vstack justify-content-center align-items-center w-100 h-180 bg-secondary card"
                style="height: 180px;">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96" />
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect width="18" height="18" x="3" y="3" rx="2" ry="2" />
                    <circle cx="9" cy="9" r="2" />
                    <path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21" />
                </svg>
            </div>
        </div>
        <div class="col align-items-center mt-2">
            <input class="form-control" type="file" onchange="OMM.match_dbg.onFileChange('{{ upload_id }}')"
                id="{{ upload_id }}-file-upload">
        </div>
    </div>

    <div class="card-body d-flex flex-column align-items-mid" id="{{ upload_id }}-signals">
    </div>
</div>