<h3>Match File</h3>
<form id="match_file">
    <div class="row">
        <div class="col">
            <input class="form-control" type="file" name="file" required />
        </div>
        <div class="col">
            <select class="form-select" name="media" id="content-type" required>
                {% for c in content %}
                {% if c['enabled'] %}
                <option value="{{c['name']}}">{{c['name'].capitalize()}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col">
            <!-- for spacing -->
        </div>
    </div>
</form>
<div id="matches">
    <!-- Added to by javascript -->
</div>
<script>
    const match_form = document.getElementById("match_file");
    const matches = document.getElementById("matches");

    match_form.addEventListener("submit", (event) => {
        event.preventDefault();
        const formData = new FormData();

        // Append the selected file and content type to the FormData
        formData.append(event.target.media.value, event.target.file.files[0]);

        fetch('/ui/query', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server here
                renderMatchResult(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    })

    const renderMatchResult = (result) => {
        // Render matched banks
        const banksList = result.banks.map(bank => `<li>${bank}</li>`).join('');
        const banksHTML = `
            <h4>Matched Banks</h4>
            <ul>${banksList}</ul>
        `;

        const hashesTableHTML = `
                <h3>Hash Values:</h3>
                <table>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    ${Object.entries(result.hashes).map(([key, value]) => `
                        <tr>
                            <td>${key}</td>
                            <td>${value}</td>
                        </tr>
                    `).join('')}
                </table>
            `;;

        // Append both the banks and hashes sections to the "matches" element
        matches.innerHTML = banksHTML + hashesTableHTML;
    }
</script>