# Copyright (c) Meta Platforms, Inc. and affiliates.

name: HMA CI
on:
  pull_request:
    paths:
      - "hasher-matcher-actioner/**"
      - ".github/workflows/hma-ci.yaml"
  push:
    branches:
      - main
    paths:
      - "hasher-matcher-actioner/**"
      - ".github/workflows/hma-ci.yaml"

defaults:
  run:
    working-directory: hasher-matcher-actioner

jobs:
  terraform-checks:
    name: Format & Validate Terraform Configuration
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: hasher-matcher-actioner/terraform
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.14.x
      - name: Check format
        run: terraform fmt -check -diff -recursive -no-color
        continue-on-error: true
      - name: Init Modules
        run: terraform init
      - name: Validate terraform files
        run: terraform validate -no-color
  lint-and-types:
    name: Lint and Type-Check python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          bash ./scripts/set_threatexchange_source local
      - name: Check code format
        run: |
          black --check .
      - name: Check python types
        run: |
          python -m mypy hmalib
  test:
    name: Run python tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          bash ./scripts/set_threatexchange_source local
      - name: Test with pytest
        run: |
          python -m py.test hmalib
