# Copyright (c) Meta Platforms, Inc. and affiliates.

name: "PR Labels"
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  apply-labels:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.base.ref }}
      - uses: actions/labeler@v6
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: .github/labeler.yml
