# Copyright (c) Meta Platforms, Inc. and affiliates.

name: python-threatexchange CI
on:
  push:
    branches:
      - main
    paths:
      - "python-threatexchange/**"
      - ".github/workflows/python-threatexchange-ci.yaml"
  pull_request:
    branches:
      - main
    paths:
      - "python-threatexchange/**"
      - ".github/workflows/python-threatexchange-ci.yaml"

defaults:
  run:
    working-directory: python-threatexchange

jobs:
  lint-and-types:
    name: Lint and Type-Check python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python3 -m pip install -e .[all]
      - name: Check code format
        run: |
          black --check .
      - name: Check python types
        run: |
          python -m mypy threatexchange
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.11']
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install ffmpeg
        id: ffmpeg
        run: |
          sudo apt-get update
          sudo apt-get install ffmpeg \
            libavdevice-dev libavfilter-dev libavformat-dev \
            libavcodec-dev libswresample-dev libswscale-dev libavutil-dev
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[test]"
      - name: Test with pytest
        run: |
          py.test
