# Copyright (c) Meta Platforms, Inc. and affiliates.

name: vpdq CI - cpp
on:
  push:
    branches:
      - main
    paths:
      - "vpdq/cpp/**"
      - ".github/workflows/vpdq-ci-cpp.yml"
  pull_request:
    branches:
      - main
    paths:
      - "vpdq/cpp/**"
      - ".github/workflows/vpdq-ci-cpp.yml"

defaults:
  run:
    working-directory: vpdq

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make cmake pkg-config ffmpeg libavdevice-dev libavfilter-dev libavformat-dev libavcodec-dev libswresample-dev libswscale-dev libavutil-dev

      - name: Make with no sanitizers
        run: |
          rm -rf cpp/build
          cmake -S cpp -B cpp/build -DCMAKE_BUILD_TYPE=RelWithDebInfo
          cmake --build cpp/build -j

      - name: Test with no sanitizers
        run: |
          python cpp/regtest.py -i ${GITHUB_WORKSPACE}/tmk/sample-videos

      - name: Make with address sanitizer
        run: |
          rm -rf cpp/build
          cmake -S cpp -B cpp/build -DCMAKE_BUILD_TYPE=Asan
          cmake --build cpp/build -j

      - name: Test with address sanitizer
        run: |
          python cpp/regtest.py -i ${GITHUB_WORKSPACE}/tmk/sample-videos

      - name: Make with thread sanitizer
        run: |
          rm -rf cpp/build
          cmake -S cpp -B cpp/build -DCMAKE_BUILD_TYPE=Tsan
          cmake --build cpp/build -j

      - name: Test with thread sanitizer
        run: |
          python cpp/regtest.py -i ${GITHUB_WORKSPACE}/tmk/sample-videos
