# Copyright (c) Meta Platforms, Inc. and affiliates.

name: vpdq CI - cpp
on:
  push:
    branches:
      - main
    paths:
      - "vpdq/cpp/**"
      - ".github/workflows/vpdq-ci-cpp.yml"
  pull_request:
    branches:
      - main
    paths:
      - "vpdq/cpp/**"
      - ".github/workflows/vpdq-ci-cpp.yml"

defaults:
  run:
    working-directory: vpdq/cpp

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: make
        run: |
          sudo apt-get update
          sudo apt-get install -y make cmake ffmpeg libavdevice-dev libavfilter-dev libavformat-dev libavcodec-dev libswresample-dev libswscale-dev libavutil-dev
          mkdir -p build
          cd build
          cmake ..
          make
      - name: regression test
        run: |
          mkdir -p output-hashes
          python regtest.py -d ${GITHUB_WORKSPACE}/vpdq/cpp/output-hashes -i ${GITHUB_WORKSPACE}/tmk/sample-videos
